# Data/array management
numpy
scipy
pandas
xarray

# Statistical tools
statsmodels
scikit-learn

# Plotting
matplotlib
seaborn

# Loading/packaging data
h5py
# pynwb

# Misc
tqdm
ipywidgets==7.7.2 # version 8 doesn't work with my notebooks

# For EM
caveclient
standard_transform
nglui
pcg_skel
meshparty

# EM graph analyses
networkx
# graspologic